@charset "utf-8";
/* CSS Document */

body {
	margin:0;
	padding:0;
	margin-left:100;
	background-color:#b5ebff;
	font-family: 'Noto Sans', helvetica;
}

#logo {
	padding: 0.2em;
	font-family: 'Bubblegum Sans', helvetica;
	font-size: 72px;
	color: #015A7A;
}

#mainDiv {
	width:100%;
	padding:1em 1em 1em 1em;
}

.bodyFont{
	font-family: 'Noto Sans', sans-serif;
}

#pageContent {
	padding-left: 3em;
	color:#015A7A;
}

#searchContactsParent{
	padding-left: 3em;
}

#buttonRow {
	background-color: #015A7A;
	width: 100%;
}

.bigButton{
	height:50px;
	padding:10px;
	font-size:large;
	font-family: 'Noto Sans', sans-serif;
}
	

/* Style for Schedule Tables*/
.scheduleTable{
}

.invisible{
	display:none;
}

.freeSquare{
	background-color:#FFFEF0;
}
.nonfreeSquare{
	background-color:#999999;
}

.blankScheduleTableSquare{
	-webkit-user-select:none;
	-moz-user-select:none;
	background-color:#CCCCCC;
	width: 100px;
}

.greenScheduleTableSquare{
	-webkit-user-select:none;
	-moz-user-select:none;
	background-color:#00FF00;
	width: 100px;
}

.scheduleTableRow{
	height: 20px;
}

.scheduleTableLabel{
	-webkit-user-select:none;
	-moz-user-select:none;
	font-family: 'Noto Sans', sans-serif;
	font-size: 10pt;
}

.scheduleRowLabel{
	-webkit-user-select:none;
	-moz-user-select:none;
	font-family: 'Noto Sans', sans-serif;
	text-align: right;
	font-size: 10pt;
}

#changeWeekButtons{
 	padding-left: 35em;
}

.availableTop{
	background-color:hsl(125,80%,65%);
	height:22px;
	margin: 0px 5px;
	padding: 0px 5px;
	-moz-border-top-left-radius: 15px;
	-moz-border-top-right-radius: 15px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
}
.availableMiddle{
	background-color:hsl(125,80%,65%);
	height:22px;
	margin: 0px 5px;
	padding: 0px 5px;
}
.availableBottom{
	background-color:hsl(125,80%,65%);
	height:22px;
	margin: 0px 5px;
	padding: 0px 5px;
	-moz-border-bottom-left-radius: 15px;
	-moz-border-bottom-right-radius: 15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.availableSingleSquare{
	background-color:hsl(125,80%,65%);
	height:22px;
	margin: 0px 5px;
	padding: 0px 5px;
	-moz-border-top-left-radius: 15px;
	-moz-border-top-right-radius: 15px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	-moz-border-bottom-left-radius: 15px;
	-moz-border-bottom-right-radius: 15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.acceptedTop{
	background-color:hsl(125,30%,50%);
	height:22px;
	margin: 0px 5px;
	padding: 0px 5px;
	-moz-border-top-left-radius: 15px;
	-moz-border-top-right-radius: 15px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
}
.acceptedMiddle{
	background-color:hsl(125,30%,50%);
	height:22px;
	margin: 0px 5px;
	padding: 0px 5px;
}
.acceptedBottom{
	background-color:hsl(125,30%,50%);
	height:22px;
	margin: 0px 5px;
	padding: 0px 5px;
	-moz-border-bottom-left-radius: 15px;
	-moz-border-bottom-right-radius: 15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.acceptedSingleSquare{
	background-color:hsl(125,30%,50%);
	height:22px;
	margin: 0px 5px;
	padding: 0px 5px;
	-moz-border-top-left-radius: 15px;
	-moz-border-top-right-radius: 15px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	-moz-border-bottom-left-radius: 15px;
	-moz-border-bottom-right-radius: 15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}

.tableColumnLabel{
	font-size: 14pt;
	text-decoration: underline;
}