@charset "utf-8";
/* CSS Document */

body {
	margin:0;
	padding:0;
	margin-left:100;
	background-color:#b5ebff;
	font-family: 'Noto Sans', helvetica;
}

#logo {
	padding: 0.2em;
	font-family: 'Bubblegum Sans', helvetica;
	font-size: 72px;
	color: #015A7A;
}

#mainDiv {
	width:100%;
	padding:1em 1em 1em 1em;
}

.bodyFont{
	font-family: 'Noto Sans', sans-serif;
}

#pageContent {
	padding-left: 3em;
	color:#015A7A;
}

#searchContactsParent{
	padding-left: 3em;
}

#buttonRow {
	background-color: #015A7A;
	width: 100%;
}

.h2{
	font-size:large;
	font-family: 'Noto Sans', sans-serif;
}
	

/* Style for Schedule Tables*/
.scheduleTable{
}

.invisible{
	display:none;
}

.blankScheduleTableSquare{
	-webkit-user-select:none;
	-moz-user-select:none;
	background-color:#CCCCCC;
	width: 100px;
}

.greenScheduleTableSquare{
	-webkit-user-select:none;
	-moz-user-select:none;
	background-color:#00FF00;
	width: 100px;
}

.scheduleTableRow{
	height: 20px;
}

.scheduleTableLabel{
	-webkit-user-select:none;
	-moz-user-select:none;
	font-family: 'Noto Sans', sans-serif;
	font-size: 10pt;
}

.scheduleRowLabel{
	-webkit-user-select:none;
	-moz-user-select:none;
	font-family: 'Noto Sans', sans-serif;
	text-align: right;
	font-size: 10pt;
}

#changeWeekButtons{
 	padding-left: 35em;
}
